.main5{
    display: flex;
    /* background-image: linear-gradient(360deg, var(--theme-color) , var(--theme-color-2) 40%, black);     */
    background-color: var(--bg-color);
    flex-direction: column;
}
.marquee-text-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    cursor: default;
    text-transform: uppercase;
}

.marquee-text{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
}

.marquee-text p{
    font-size: 10vw;
}

.form-container{
    height: 80vh;
    width: 90vw;
    margin: auto;
    display: flex;
    text-align: center;
}

.form-container .form-heading{
    width: 50%;
    font-size: 4rem;
    align-content: center;
}

.form-heading span{
    color: var(--highlight-color);
    font-weight: 800;
}
.form-container form{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}

.form-container  a{
    text-decoration: none;
    color: var(--highlight-color);
}

.form-container form input, textarea{
    padding: 2vh 0;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #6b6060;
    font-size: 2vw;
    color: var(--text-color);
    resize: none;
}

@media (max-width: 430px) {
    .form-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10vh;
        flex-direction: column;
        /* background-color: rgb(40, 7, 66); */
    }

    .form-container .form-heading{
        width: 100%;
        /* height: 10vh; */
    }

    .form-container form{
        width: 90%;

    }

    .form-container form input, textarea{
        padding: 2vh 0;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #6b6060;
        font-size: 1.2rem;
        color: var(--text-color);
        resize: none;
    }

}