.banner-container{
    width: 100%;
    background-color:var(--bg-color);
    overflow: hidden;
    padding-bottom: 3vh;
    display: flex;
    position: relative;
    gap:8.5vw;
}

.banner-icons{
    white-space: nowrap;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.5vw;
    color: var(--text-color-2);
    transform: translateX(-100%);
}

.banner-icons i{
    font-size: 3rem;
}
