.effect-section{
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    /* padding: 0.5em 1em; */
    z-index: 99999999;
}
.effect-container{
    position: relative;
    width: 100%;
    color: rgb(222, 222, 222);
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    /* background-color: blue; */
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    transition: 0.3s ease-in-out;
}
#effect-container-2{
    z-index: 2;
}
.effect-container h1{
   font-size: 8vw;
   transition: 0.4s ease-in-out;
   text-transform: capitalize;
   font-weight: 200;
   margin-left: 50px;
}

.effect-container p{
    margin-right: 50px;
}
.effect-container:hover h1{
  opacity: 0.4;
  transform: translateX(70px);
  font-size: 7.9vw;
}
.project-text{
    text-align: center;
    font-size: 4vw;
    gap: 10px;
    padding: 30px;
    /* margin-bottom: 15px; */
    background-color: var(--bg-color);
}
.effect-section .basic-button{
    margin: 30px 0;
    z-index: 1000;
}
.project-text span{
    color: var(--highlight-color);
    font-size: 7vw;
}

@media (max-width: 430px) {
    .effect-section{
        height: inherit;
        overflow: hidden;
    }
    .effect-container{
        height: 20vh;
    }
    .effect-container img{
        display: none;
    }

    .effect-container h1{
        margin-left: 10px;
    }

    .effect-container:hover h1{
        transform: translateX(0);
    }

    .project-text{
        font-size: 6vw;
    }

    .project-text span{
        font-size: 8vw;
    }
}