/* /* .navbar {
  z-index: 9;
  padding: 20px 0px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5.1px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.051);
  -webkit-backdrop-filter: blur(5.1px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  position: fixed;
  /* width: calc(100vw - 50px); 
} 
.nav_links {
  display: flex;
  background-color: violet;
  gap: 50px;
}
.nav_links a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.nav_links a:hover {
  color: #001712;
  text-shadow: 0 0 25px #00ffd9, 0 0 50px #00bc97;
  transform: scale(1.1);
  border-bottom: 3px solid #001712;
}
.nav_logo {
  color: #00bc97;
  transition: 0.1s ease-in;
}
.nav_logo:hover {
  color: #00bc97;
  text-shadow: 0 0px 25px #00bc96;
} */
