.footer-container{
    width: 100%;
    height: 45vh;
    background-image: linear-gradient(360deg, var(--theme-color) , var(--theme-color-2) 40%, black);    
    overflow: hidden;
}
.footer-box-container{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-links, .box-follow{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.box-links a{
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px solid transparent;
}

.box-links a:hover{
    color: var(--highlight-color);
    border-bottom: 1px solid var(--highlight-color);
    transition: .2s ease;
}

.box-logo{
    width: 30%;
    text-align: center;
}

.box-follow{
    font-size: 3vw;
}

.box-follow i:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

.footer-bottom{
    height: 5vh;
    text-align: center;
}

.footer-text span{
    margin: 0 10px;
}

@media (max-width : 430px) {
    .footer-box-container{
        flex-direction: column;
        gap: 5vh;
    }

    .box-links, .box-follow, .box-logo{
        width: 100%;
    }

    .box-follow{
        font-size: 5vw;
    }
}