.project-page-container{
    height: 100vh;
    padding: 0.5rem 1rem;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(180deg, var(--theme-color) , var(--theme-color-2) 40%, black);    
    
}