:root{
  --theme-color: #2c0000;
  --theme-color-3: #170000;
  --theme-color-2: #180000;
  --bg-color: rgb(0, 0, 0);
  --text-color: #cecece;
  --text-color-2: #3f3f3f;
  --text-color-3: #919191;
  --highlight-color:#9e1111;
}
.italic-text{
  font-family: "Playwrite GB S", cursive;
  font-style: italic;
}

.main-text{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.app-wrapper{
  color: var(--text-color);
  overflow-y: auto;
}

.sidebar{
  position: fixed;
  z-index: 555;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  top: 0;
  right: 0;
  padding-top: 10vh;
}

.sidebar button{
  position: absolute;
  top: 20px;
  font-size: 3vw;
  right: 20px;
}

.sidebar_navigation{
  height: 10%;
  font-size: 4vh;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  
}

.pointer{
  cursor: pointer;
}

.basic-button {
  color: var(--text-color);
  border: 1px solid var(--highlight-color);
  width: fit-content;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;
  font-weight: 400;
  font-size: 1vw;
  border: 1px solid var(--highlight-color);
  text-transform: uppercase;
  z-index: 1;
}

hr{
  border: 1px solid var(--text-color-2);
}
.basic-button::before, .basic-button::after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--highlight-color);
  transition: .3s ease;
}

.basic-button::before {
  top: -1em;
  left: -1em;
}

.basic-button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.basic-button:hover::before, .basic-button:hover::after {
  height: 410px;
  width: 410px;
}

.basic-button:hover, .basic-button a i:hover {
  color: var(--text-color);
}

.basic-button:active {
  filter: brightness(.8);
}

.highlight-text{
  color: var(--highlight-color);
  font-weight: 600; 
}

@media (max-width: 768px) {
  .basic-button {
    font-size: 2vw;
    padding: 0.6em 1.5em;
  }
}

a{
  text-decoration: none;
  color: var(--text-color);
}

@media (max-width: 450px){
  .basic-button {
    font-size: 3.5vw;
    padding: 0.4em 1.3em;
  }

  #circle{
    display: none;
  }

  .basic-button::before{
    top: -3em;
  }
  .basic-button::after{
    left: 12em;
  }
 }